<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="ClientBinding" maxReceivedMessageSize="20971520">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="EcgEndpoint"
					  address="net.tcp://localhost:4000/EcgService"
					  binding="netTcpBinding"
					  bindingConfiguration="ClientBinding"
					  contract="Common.IEcgService" />
		</client>
	</system.serviceModel>
</configuration>