<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="ClientBinding"
						 maxReceivedMessageSize="20971520"
						 sendTimeout="00:30:00"
						 receiveTimeout="00:30:00">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="EcgEndpoint"
					  address="net.tcp://localhost:4000/EcgService"
					  binding="netTcpBinding"
					  bindingConfiguration="ClientBinding"
					  contract="Common.IEcgService" />
		</client>
	</system.serviceModel>
	<appSettings>
		<add key="EcgMinMicroV" value="-5000"/>
		<add key="EcgMaxMicroV" value="5000"/>
	</appSettings>
</configuration>