<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="StreamingBinding"
						 transferMode="Buffered"
						 maxReceivedMessageSize="20971520">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>

		<services>
			<service name="Server.EcgService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000" />
					</baseAddresses>
				</host>
				<endpoint address="EcgService"
						  binding="netTcpBinding"
						  bindingConfiguration="StreamingBinding"
						  contract="Common.IEcgService" />
			</service>
		</services>
	</system.serviceModel>

	<appSettings>
		<add key="EcgMinMicroV" value="-5000"/>
		<add key="EcgMaxMicroV" value="5000"/>
		<add key="HrMinBpm" value="30"/>
		<add key="HrMaxBpm" value="220"/>
		<add key="EcgSpikeThresholdMicroV" value="500"/>
		<add key="AccMotionThreshold" value="2"/>
		<add key="BatchSize" value="20"/>
	</appSettings>
</configuration>